.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
*.lock
pubspec.lock
android/key.properties
android/app/google-services.json
web/icons/Icon-maskable.svg
web/favicon.png
.env
*.db
server/uploads/*