fastapi==0.116.1
uvicorn[standard]==0.35.0
fastembed==0.7.1
jieba==0.42.1
pypdf==5.8.0
python-docx==1.2.0
beautifulsoup4==4.13.4
pydantic==2.11.7
langchain==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
psycopg[binary]==3.2.9
